.loginPage-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label {
    margin-bottom: 5px;
}

.login-container form input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form .submit-button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.login-container form .submit-button:hover {
    background-color: #0056b3;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container input {
    width: 100%;
    padding-right: 40px;
}
.toggle-password-visibility {
     position: absolute;
     right: 10px;
     margin-bottom: 10px;
     background: none;
     border: none;
     cursor: pointer;
     color: var(--text-secondary);
     font-size: 18px;
 }

.forgot-password-link {
    color: #007bff;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: underline;
}

.forgot-password-link:hover {
    color: #0056b3;
}

