.footer {
    background-color: var(--background-dark);
    padding: 40px 20px;
    color: white;
    text-align: center;
    border-top: 5px solid var(--primary-color);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo .logo-wrapper{
    background-color: white;
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-logo h2 {
    font-size: 24px;
    font-weight: bold;
}

.footer-info {
    flex: 1;
}

.footer-info p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav a:hover {
    text-decoration: underline;
}
