/* src/components/PetList/PetList.css */

.pet-list-container {
    padding: 20px;
    background-color: var(--background-light);
    display: flex;
    flex-direction: row;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
    background-color: var(--background-light);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.filters h3 {
    font-size: 24px;
    color: var(--text-primary);
}

.filters label {
    font-size: 16px;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
}

.filters select,
.filters input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.pet-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 16px;
}

.pet-list p {
    font-size: 18px;
    text-align: center;
    color: var(--text-secondary);
}

@media (max-width: 650px) {
    .pet-list-container {
        flex-direction: column;
    }
    .pet-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
