*{
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


:root {
  /* Primary color palette */
  --primary-color: #6c63ff;
  --secondary-color: #f3f3f3;
  --tertiary-color: #574bce;

  /* Text colors */
  --text-primary: #333333;
  --text-secondary: #666666;
  --text-light: #ffffff;

  /* Background colors */
  --background-light: #ffffff;
  --background-dark: #222222;

  /* Accent colors */
  --accent-color: #ff6347; /* Replace with your preferred accent color */

  /* Other colors */
  --border-color: #dddddd;
  --error-color: #ff4c4c;
}